{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Inject EasyLink connection for non-content items.
    Requires adding:

        mp.update_url() calls in page_ready_script to update link values.

{%endcomment%}


<div class="mp_flex_column mp_easylinks">

    <section>
        <h3>EasyLink
            <span class="mp_help_staff">
                invite users from websites, social media, email, and texts
                </span>
            </h3>
        <div class="mp_clipboard">
            <div id="easylink_url" class="mp_easylink mp_ellipsis">
                </div>
            </div>
        </section>

    </div>
