{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    All MPF scripts for portal and non-portal screens

    THIS FILE NEEDS TO BE SAVED WITH UNIX STYLE LINE TERMINATIONS
    FOR USE IN WINDOWS/LINUX ENVIRONMENT WITH django-compressor

{%endcomment%}

<script defer src="{{ static_url }}mpf-js/common/nav.js"></script>
<script defer src="{{ static_url }}mpf-js/common/menu.js"></script>
<script defer src="{{ static_url }}mpf-js/common/style.js"></script>
<script defer src="{{ static_url }}mpf-js/common/layout.js"></script>
<script defer src="{{ static_url }}mpf-js/common/util.js"></script>
<script defer src="{{ static_url }}mpf-js/common/init.js"></script>

<script defer src="{{ static_url }}mpf-js/common/activity.js"></script>
<script defer src="{{ static_url }}mpf-js/common/ajax_helpers.js"></script>
<script defer src="{{ static_url }}mpf-js/common/dialog.js"></script>
<script defer src="{{ static_url }}mpf-js/common/preferences.js"></script>
<script defer src="{{ static_url }}mpf-js/common/ui_state.js"></script>
<script defer src="{{ static_url }}mpf-js/common/viz.js"></script>
<script defer src="{{ static_url }}mpf-js/common/widgets.js"></script>
<script defer src="{{ static_url }}mpf-js/common/tooltip.js"></script>
<script defer src="{{ static_url }}mpf-js/common/clipboard.js"></script>

<script defer src="{{ static_url }}mpf-js/text.js"></script>

<script defer src="{{ static_url }}mpf-js/staff/content.js"></script>
<script defer src="{{ static_url }}mpf-js/staff/utils.js"></script>
<script defer src="{{ static_url }}mpf-js/staff/update_url.js"></script>
<script defer src="{{ static_url }}mpf-js/staff/init_ui.js"></script>
