{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Portal scripts

    THIS FILE NEEDS TO BE SAVED WITH UNIX STYLE LINE TERMINATIONS
    FOR USE IN WINDOWS/LINUX ENVIRONMENT WITH django-compressor

{%endcomment%}

<script defer src="{{ static_url }}mpf-js/portal/utils.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/navigation.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/ko.js"></script>

<script defer src="{{ static_url }}mpf-js/portal/models/bag.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/content_base.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/content_bag.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/type.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/group.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/category.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/item_base.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/item.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/tree.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/models/trees.js"></script>

<script defer src="{{ static_url }}mpf-js/portal/viewmodels/util.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/base_shared.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/base_content.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/bag.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/bags.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/type.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/group.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/category.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/item.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/items.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/tree.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/trees.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewmodels/current.js"></script>

<script defer src="{{ static_url }}mpf-js/portal/sb_options.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/tags.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/access.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/viewer.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/load_models.js"></script>
<script defer src="{{ static_url }}mpf-js/portal/init_portal.js"></script>
