~*
*.orig
*.pyc
*.pyo
*.out
*.csv
*.log
*_db
*.db
*.terragrunt.*
.work/**
.secrets/**
.venv/**
.virtualenv/**
.terraform/**
temp.py
TEMP/**
.pydevproject
dumpdata.yaml
ec2-user@*
testing/*/*.png
testing/*/*.xml
deploy/*/config_*.conf
deploy/*/*@*
