{%comment%} PORTAL_TEMPLATE -- Mesa Platform, Copyright 2021 Vueocity, LLC

    Layout for default list item, which is text focused
    and is typically used as a full row.

{%endcomment%}

<div class="es_list es_content_full es_theme_list es_theme_content" data-bind="
        click: user_access,
        style: {
            '--es_item_font-size': sb_option('portal.item_font_size', $element),
            '--es_list_height': sb_option('portal.list_height', $element),
            '--es_list_min-height': sb_option('portal.list_height', $element),
            '--es_list_max-height': sb_option('portal.list_height', $element),
            '--es_list_image_aspect': sb_option('portal.list_image_aspect', $element),
            },
        ">
    <div class="es_content_body es_text_limit es_content_highlight mp_flex_line">

        {% mp_include "content_state" %}

        <!-- ko ifnot: $context.brief -->
            <!-- ko if: sb('image2') || sb('image1') -->
                <div class="es_content_image">
                    <img class="es_style_hover" data-bind="
                            attr: { src: sb('image2') || sb('image1') }
                            "/>
                    </div>
            <!-- /ko -->
        <!-- /ko -->

        <div class="es_content_text mp_flex_column">

            {#-- Main top row #}
            <div class="es_list_main mp_flex_line">
                <h3 class="es_item_title" data-bind="
                        html: sb('name'),
                        ">
                    </h3>
                <!-- ko if: sb('html1') -->
                    <div class="es_item_html1" data-bind="
                            html: sb('html1'),
                            ">
                        </div>
                <!-- /ko -->
                <!-- ko if: sb('text2') -->
                    <div class="es_item_text2" data-bind="
                            html: sb('text2'),
                            ">
                        </div>
                <!-- /ko -->
                </div>

            {#-- Description row #}
            <!-- ko ifnot: $context.brief -->
                <div class="es_item_description mp_flex">
                    <!-- ko if: sb('text1') -->
                        <div class="es_item_text1" data-bind="
                                html: sb('text1'),
                                ">
                            </div>
                    <!-- /ko -->
                    <!-- ko if: sb('text3') -->
                        <div class="es_item_text3" data-bind="
                                html: sb('text3'),
                                ">
                            </div>
                    <!-- /ko -->
                    </div>
            <!-- /ko -->

            </div>

        </div>
    </div>
