{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Email sent to users on password reset requests

{%endcomment%}

<style>
    {% mp_include "email_css" %}
</style>

<h2>Password reset request for {{ site.name }}</h2>

<p>A password change request was made for your {{ site.name }} account
with the username {{ user.username }}.</p>

<p>Please use the link below to choose a new password:</p>

<a href="https://{{ domain }}{% url 'pwd_reset_confirm' user_id_b64=uid token=token %}">
    Click to reset password
    </a>

<p>If you did not request this password change you can ignore this email.
However it does mean someone typed your email into the forgot password page
at {{ site.main_host }}.
    </p>
