{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Email sent to notify user of password change

{% endcomment %}

{% if email_subject %}

    {{ site.name|default:"" }} password change notice

{% else %}

    <p>The password for your {{ site.name|default:"" }} account with the
    username {{ user.username }} has been changed.</p>

    <p>If you made this change, please disregard this email.</p>
    <p>If you did not make this change, please contact {{ site.email_support }}.</p>

{% endif %}
