{% extends '_base/pages/standard.html' %}
{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    SKU links

{%endcomment%}

{% block panel_body %}
<div id="list">
    <h2>Pricing option (SKU) EasyLinks</h2>

    <div class="es_report_head mp_flex_line">
        <input class="mp_search" placeholder="Search" />
        <p class="mp_locale_value">
            {{ pas|length }} total SKUs
            </p>
        </div>

    <table class="es_report_table">
        <thead>
            <tr class="es_heading">
                <th style="width: 20%" class="mp_sort es_textleft"
                        data-sort="sku">SKU</th>
                <th style="width: 10%" class="mp_sort"
                        data-sort="visibility">Visibility</th>
                <th style="width: 70%" class="mp_sort es_textleft"
                        data-sort="login_url">Invite url</th>
                </tr>
            </thead>
        <tbody class="es_report_body mp_report">
            {% for p in pas %}
            <tr class="es_row">
                <td class="sku">{{ p.sku }}</td>
                <td class="visibility es_textcenter">{{ p.visibility }}</td>
                <td class="login_url">
                    <div class="mp_clipboard">
                        <a target="_" href="{{ site.main_host_url }}{{ p.login_url }}"
                                class="mp_easylink mp_ellipsis">
                            {{ p.login_url }}
                        </a></div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block page_ready_script %}
    {{ block.super }}

    const list = new List( 'list', {
            listClass: 'mp_report',
            searchClass: 'mp_search',
            sortClass: 'mp_sort',
            valueNames: [
                'sku', 'visibility', 'login_url',
                ]
            })
    list.sort( 'sku', { order: 'asc' } )

    $(".mp_sort").addClass('es_button_text')

{% endblock %}
