{% extends 'admin/change_list.html' %}
{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Base change list for all content

{%endcomment%}

{% load macros %}
{% loadmacros "_/menu_macros.html" %}


{% block mp_special_filters %}

    {% include "admin/mpcontent/_special_filters.html" %}

{% endblock %}

{% block mp_add_button %}

    <div class="mp_menu mp_menu_float mp_button mp_staff_content_add">
        <div class="mp_menu_item mp_menu_header">
            <span class="mp_menu_text">Add content...</span>
            <div class="mp_menu mp_menu_dropdown mp_menu_style">
                {% mp_include_files "content" "menu-content_add" ".html" %}
                </div>
            </div>
        </div>

{% endblock %}

{% block mp_after_filters %}

    <div class="mp_menu_float mp_menu"
            style="margin-right: 0.8em">
        <div class="mp_menu_item mp_menu_header">
            <span class="mp_menu_text">Content types...</span>
            <div class="mp_menu mp_menu_dropdown">
                {% mp_include_files "content" "menu-content_list" ".html" %}
                </div>
            </div>
        </div>

    {% if cl and item_types %}
        <div class="mp_menu_float mp_menu"
                style="margin-right: 0.8em">
            <div class="mp_menu_item mp_menu_header">
                <span class="mp_menu_text">Portal types...</span>
                <div class="mp_menu mp_menu_dropdown">
                    {% for type in item_types %}
                        {% usemacro menu_url type.name 'staff_admin:mpcontent_baseitem_changelist' '?portaltype&#61;' type.id %}
                    {% endfor %}
                    </div>
                </div>
            </div>
    {% endif %}

{% endblock %}

{% block head-no_cache %}
    {{ block.super }}
    <style>

        {#-- Force space for name #}
       .column-_name {
            min-width: 20vw;
            }

        </style>
{% endblock %}
