{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    TBD - Adorn content based on attributes including:

        - Categories
        - Types
        - Point value
        - Size value

{%endcomment%}

<!-- ko if: sb_option('portal.content_show_categories') -->
<!-- /ko -->

<!-- ko if: sb_option('portal.content_show_type') -->
<!-- /ko -->

<!-- ko if: sb_option('portal.content_points_show') -->
<!-- /ko -->

<!-- ko if: sb_option('portal.content_size_show') -->

    <!-- ko if: sb_option('portal.content_size_minutes') -->
    <!-- /ko -->

    <!-- ko if: sb_option('portal.content_size_mb') -->
    <!-- /ko -->

<!-- /ko -->
