{% extends '_base/pages/scripting.html' %}
{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Page for testing video options

{% endcomment %}

{% block page_head %}
    {{ block.super }}

    <script>
        </script>

{% endblock %}

{% block page_body %}

    <div class="es_{{ play_type }} es_{{ play_type }}_{{ item.pk }}">

        <{{ play_type }} id="video_test" autoplay controls controlsList="nodownload"
                src="{{ normal_url }}"
                >
            </{{ play_type }}>

        </div>

{% endblock %}
