{% extends 'admin/change_form.html' %}
{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Custom template change form

{%endcomment%}

{% block page_ready_script %}

    mp.admin_copy_start_override = function() {
        {#-- Blank out any original file path from a system item #}
        $("#id_orig_path").change_val('')
        {#-- Select all sandboxes since it won't be set for system #}
        $("#id__all_sandboxes").prop( 'checked', true )
        }

    {#-- Base script will do immediate save-as for copy #}
    {{ block.super }}

    {#-- Setup toggle for all sandboxes checkbox #}
    function _sandboxes_toggle() {
        $('.mp_cell._sandboxes')
            .toggleClass( 'mp_disabled', $(this).prop('checked') )
            .find('input, button').prop( 'disabled', $(this).prop('checked') )
            }
    $('#id__all_sandboxes')
        .each( _sandboxes_toggle )
        .on( 'change', _sandboxes_toggle )

{% endblock %}
