{%comment%} PORTAL_TEMPLATE -- Mesa Platform, Copyright 2021 Vueocity, LLC

    Base class for
    Item list rows slide drawer out for detailed view with access button.

{%endcomment%}

<div class="{% block list_class %} es_listslide es_slide {% endblock %}
            es_itemview es_content_full es_theme_list
            es_theme_content" data-bind="
        style: {
            '--es_item_font-size': sb_option('portal.item_font_size', $element),
            '--es_itemview_min-height': sb_option('portal.list_min_height', $element),
            },
        ">
    <div class="es_content_wrapper">

        <a href="#_" class="es_content_title es_content_highlight es_text_limit
                mp_viz_content_toggle mp_viz_close_peers mp_flex_line">
            {% mp_include "content_state" %}
            <h3 class="es_item_title" data-bind="
                    html: sb('name'),
                    ">
                </h3>
            </a>

        <div class="mp_viz_content_body mp_flex_column mp_hidden" data-bind="
                lazy_bind_mphidden: $data,
                ">
            {% block item_body %}
                {% mp_include "content_itemview" %}
            {% endblock %}
            </div>

        </div>
    </div>
