{%comment%} PORTAL_TEMPLATE -- Mesa Platform, Copyright 2021 Vueocity, LLC

    Compact listcard navigation element

{%endcomment%}

<div class="es_listcard es_theme_list es_theme_content" data-bind="
        click: user_access,
        style: {
            '--es_item_font-size': sb_option('portal.item_font_size', $element),
            '--es_listcard_width': sb_option('portal.listcard_width', $element),
            '--es_listcard_height': sb_option('portal.listcard_height', $element),
            '--es_listcard_width_image': sb_option('portal.listcard_width_image', $element),
            '--es_listcard_width_text': sb_option('portal.listcard_width_text', $element),
            },
        ">
    <a class="es_content_body es_text_limit mp_nav_anchor mp_flex_line">

        <!-- ko if: sb('image2') || sb('image1') -->
            <div class="es_content_image">
                <img class="es_style_hover" data-bind="
                        attr: { src: sb('image2') || sb('image1') }
                        "/>
                </div>
        <!-- /ko -->

        <div class="es_content_text mp_flex_column">
            <div class="es_item_title" data-bind="
                    html: sb('name'),
                    ">
                </div>
            <!-- ko if: sb('text1') -->
                <div class="es_item_text1" data-bind="
                        html: sb('text1'),
                        ">
                    </div>
            <!-- /ko -->
            <!-- ko if: sb('text2') -->
                <div class="es_item_text2" data-bind="
                        html: sb('text2'),
                        ">
                    </div>
            <!-- /ko -->
            </div>

        <!-- ko if: type_db == 'tree' -->
            {% mp_include "content_progress" %}
        <!-- /ko -->

        </a>
    </div>
