{% extends 'admin/base_page.html' %}
{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Override user change password in Provider admin

    This couldn't be handled like the other provider admin screens because Django
    special-cases the loading of this screen

    Context for this template is created in Django contrib.auth.admin
    user_change_password, where user being changed is "original"

{%endcomment%}

{% load admin_urls %}

{% block page_ready_script %}

    mp.set_watermark("#{{ form.password1.auto_id }}", "Password");
    mp.set_watermark("#{{ form.password2.auto_id }}", "Confirm");

{% endblock %}

{% block content %}
    <div id="content-main" style="padding-left: 1em;">
        <form method="post" class="mp_form" data-parsley-validate>
            {% csrf_token %}

            <h2>Enter a new password for <strong>{{ original.email }}</strong>:
                </h2>

            {% include "_/form_errors.html" %}

            <div style="padding-left: 1em;">
                <div>
                    {{ form.password1 }}
                    </div>
                <div>
                    {{ form.password2 }}
                    </div>
                </div>

            <div class="submit-row">
                <input type="submit" value="Change password" class="default" />
                </div>

            </form>
        </div>
{% endblock %}
