{%comment%}-- Copyright 2021 Vueocity, LLC

    Vueocity dark color palette example

{%endcomment%}

<style>
    :root {

        --text: white;
        --back: rgb(88,89,107);
        --overlay: rgba(88,89,107,.7);
        --highlight: rgba(107,192,72,1);
        --variant: rgba(253,130,4,1);


        --highlight_text: rgba(255,255,255,0.8);
        --action_text: rgba(253,130,4,0.8);
        --icon_color: rgba(253,130,4,0.6);

        --menu_text: rgba(107,192,72,1);
        --menu_back: rgba(88,89,107,0.9);

        --input_back: rgba(88,89,107,0.4);
        --popup_back: rgba(88,89,107,0.9);

        --light: 220,220,220;
        --shadow: 0,0,0;

    }
</style>
