{%comment%}-- Mesa Platform, Copyright 2021 Vueocity, LLC

    Test custom fonts

{%endcomment%}

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Indie+Flower|Audiowide">
<link rel="stylesheet" href="//fonts.googleapis.com/css?Merriweather:700|Abril+Fatface">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pangolin">
<style>

    body {
        font-family: 'Pangolin', sans-serif;
        }

    article {
        font-family: 'Indie Flower', cursive;
        }

    button, a {
        font-family: 'Abril Fatface';
        }

    h1, h2, h3, h4, label {
        font-family: 'Merriweather', serif;
        }

    input, select, textarea {
        font-family: 'Audiowide' !important;
        }

</style>
