{%comment%}-- Copyright 2021 Vueocity, LLC

    Example of mixing multiple fonts for a classic look

    Copy this template to create a custom set of fonts for
    different elements on your site.

{%endcomment%}

<link rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Merriweather:400|Yeseva+One"
    />

<style>

    body {
        font-family: 'Merriweather', serif;
        }

    main :is( h1, h2, h3, h4, label ) {
        font-family: 'Yeseva One', cursive;
        font-weight: normal !important;
        }

</style>
