{%comment%}-- Copyright 2021 Vueocity, LLC

    Classic border frame design style

{%endcomment%}

<style>

    h2 {
        line-height: 1.8;
        border-bottom: 1px solid;
        }

    .mp_input,
    .es_theme_card, .es_theme_overlay {
        border: 1px solid;
        }

    .es_theme_panel {
        line-height: 1.8;
        }

    .es_fullwidth .es_title1 {
        max-width: 75vw;
        }
    .es_fullwidth .es_title2 {
        max-width: 55vw;
        }
    .es_fullwidth .es_pane_container .es_items_container {
        min-width: 55vw;
        }

</style>
