/*
    Elegant themes icon loading
*/

@font-face { font-family: 'ElegantIcons';
    src: local('ElegantIcons'),
            url('elegant-icons.woff') format('woff');
    font-display: block;
    font-weight: normal;
    font-style: normal;
    }

[data-et-icon]:before { font-family: 'ElegantIcons';
    content: attr(data-et-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.et { font-family: 'ElegantIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }

.et.arrow_up:before { content: "\21"; }
.et.arrow_down:before { content: "\22"; }
.et.arrow_left:before { content: "\23"; }
.et.arrow_right:before { content: "\24"; }
.et.arrow_left-up:before { content: "\25"; }
.et.arrow_right-up:before { content: "\26"; }
.et.arrow_right-down:before { content: "\27"; }
.et.arrow_left-down:before { content: "\28"; }
.et.arrow-up-down:before { content: "\29"; }
.et.arrow_up-down_alt:before { content: "\2a"; }
.et.arrow_left-right_alt:before { content: "\2b"; }
.et.arrow_left-right:before { content: "\2c"; }
.et.arrow_expand_alt2:before { content: "\2d"; }
.et.arrow_expand_alt:before { content: "\2e"; }
.et.arrow_condense:before { content: "\2f"; }
.et.arrow_expand:before { content: "\30"; }
.et.arrow_move:before { content: "\31"; }
.et.arrow_carrot-up:before { content: "\32"; }
.et.arrow_carrot-down:before { content: "\33"; }
.et.arrow_carrot-left:before { content: "\34"; }
.et.arrow_carrot-right:before { content: "\35"; }
.et.arrow_carrot-2up:before { content: "\36"; }
.et.arrow_carrot-2down:before { content: "\37"; }
.et.arrow_carrot-2left:before { content: "\38"; }
.et.arrow_carrot-2right:before { content: "\39"; }
.et.arrow_carrot-up_alt2:before { content: "\3a"; }
.et.arrow_carrot-down_alt2:before { content: "\3b"; }
.et.arrow_carrot-left_alt2:before { content: "\3c"; }
.et.arrow_carrot-right_alt2:before { content: "\3d"; }
.et.arrow_carrot-2up_alt2:before { content: "\3e"; }
.et.arrow_carrot-2down_alt2:before { content: "\3f"; }
.et.arrow_carrot-2left_alt2:before { content: "\40"; }
.et.arrow_carrot-2right_alt2:before { content: "\41"; }
.et.arrow_triangle-up:before { content: "\42"; }
.et.arrow_triangle-down:before { content: "\43"; }
.et.arrow_triangle-left:before { content: "\44"; }
.et.arrow_triangle-right:before { content: "\45"; }
.et.arrow_triangle-up_alt2:before { content: "\46"; }
.et.arrow_triangle-down_alt2:before { content: "\47"; }
.et.arrow_triangle-left_alt2:before { content: "\48"; }
.et.arrow_triangle-right_alt2:before { content: "\49"; }
.et.arrow_back:before { content: "\4a"; }
.et.icon_minus-06:before { content: "\4b"; }
.et.icon_plus:before { content: "\4c"; }
.et.icon_close:before { content: "\4d"; }
.et.icon_check:before { content: "\4e"; }
.et.icon_minus_alt2:before { content: "\4f"; }
.et.icon_plus_alt2:before { content: "\50"; }
.et.icon_close_alt2:before { content: "\51"; }
.et.icon_check_alt2:before { content: "\52"; }
.et.icon_zoom-out_alt:before { content: "\53"; }
.et.icon_zoom-in_alt:before { content: "\54"; }
.et.icon_search:before { content: "\55"; }
.et.icon_box-empty:before { content: "\56"; }
.et.icon_box-selected:before { content: "\57"; }
.et.icon_minus-box:before { content: "\58"; }
.et.icon_plus-box:before { content: "\59"; }
.et.icon_box-checked:before { content: "\5a"; }
.et.icon_circle-empty:before { content: "\5b"; }
.et.icon_circle-slelected:before { content: "\5c"; }
.et.icon_stop_alt2:before { content: "\5d"; }
.et.icon_stop:before { content: "\5e"; }
.et.icon_pause_alt2:before { content: "\5f"; }
.et.icon_pause:before { content: "\60"; }
.et.icon_menu:before { content: "\61"; }
.et.icon_menu-square_alt2:before { content: "\62"; }
.et.icon_menu-circle_alt2:before { content: "\63"; }
.et.icon_ul:before { content: "\64"; }
.et.icon_ol:before { content: "\65"; }
.et.icon_adjust-horiz:before { content: "\66"; }
.et.icon_adjust-vert:before { content: "\67"; }
.et.icon_document_alt:before { content: "\68"; }
.et.icon_documents_alt:before { content: "\69"; }
.et.icon_pencil:before { content: "\6a"; }
.et.icon_pencil-edit_alt:before { content: "\6b"; }
.et.icon_pencil-edit:before { content: "\6c"; }
.et.icon_folder-alt:before { content: "\6d"; }
.et.icon_folder-open_alt:before { content: "\6e"; }
.et.icon_folder-add_alt:before { content: "\6f"; }
.et.icon_info_alt:before { content: "\70"; }
.et.icon_error-oct_alt:before { content: "\71"; }
.et.icon_error-circle_alt:before { content: "\72"; }
.et.icon_error-triangle_alt:before { content: "\73"; }
.et.icon_question_alt2:before { content: "\74"; }
.et.icon_question:before { content: "\75"; }
.et.icon_comment_alt:before { content: "\76"; }
.et.icon_chat_alt:before { content: "\77"; }
.et.icon_vol-mute_alt:before { content: "\78"; }
.et.icon_volume-low_alt:before { content: "\79"; }
.et.icon_volume-high_alt:before { content: "\7a"; }
.et.icon_quotations:before { content: "\7b"; }
.et.icon_quotations_alt2:before { content: "\7c"; }
.et.icon_clock_alt:before { content: "\7d"; }
.et.icon_lock_alt:before { content: "\7e"; }
.et.icon_lock-open_alt:before { content: "\e000"; }
.et.icon_key_alt:before { content: "\e001"; }
.et.icon_cloud_alt:before { content: "\e002"; }
.et.icon_cloud-upload_alt:before { content: "\e003"; }
.et.icon_cloud-download_alt:before { content: "\e004"; }
.et.icon_image:before { content: "\e005"; }
.et.icon_images:before { content: "\e006"; }
.et.icon_lightbulb_alt:before { content: "\e007"; }
.et.icon_gift_alt:before { content: "\e008"; }
.et.icon_house_alt:before { content: "\e009"; }
.et.icon_genius:before { content: "\e00a"; }
.et.icon_mobile:before { content: "\e00b"; }
.et.icon_tablet:before { content: "\e00c"; }
.et.icon_laptop:before { content: "\e00d"; }
.et.icon_desktop:before { content: "\e00e"; }
.et.icon_camera_alt:before { content: "\e00f"; }
.et.icon_mail_alt:before { content: "\e010"; }
.et.icon_cone_alt:before { content: "\e011"; }
.et.icon_ribbon_alt:before { content: "\e012"; }
.et.icon_bag_alt:before { content: "\e013"; }
.et.icon_creditcard:before { content: "\e014"; }
.et.icon_cart_alt:before { content: "\e015"; }
.et.icon_paperclip:before { content: "\e016"; }
.et.icon_tag_alt:before { content: "\e017"; }
.et.icon_tags_alt:before { content: "\e018"; }
.et.icon_trash_alt:before { content: "\e019"; }
.et.icon_cursor_alt:before { content: "\e01a"; }
.et.icon_mic_alt:before { content: "\e01b"; }
.et.icon_compass_alt:before { content: "\e01c"; }
.et.icon_pin_alt:before { content: "\e01d"; }
.et.icon_pushpin_alt:before { content: "\e01e"; }
.et.icon_map_alt:before { content: "\e01f"; }
.et.icon_drawer_alt:before { content: "\e020"; }
.et.icon_toolbox_alt:before { content: "\e021"; }
.et.icon_book_alt:before { content: "\e022"; }
.et.icon_calendar:before { content: "\e023"; }
.et.icon_film:before { content: "\e024"; }
.et.icon_table:before { content: "\e025"; }
.et.icon_contacts_alt:before { content: "\e026"; }
.et.icon_headphones:before { content: "\e027"; }
.et.icon_lifesaver:before { content: "\e028"; }
.et.icon_piechart:before { content: "\e029"; }
.et.icon_refresh:before { content: "\e02a"; }
.et.icon_link_alt:before { content: "\e02b"; }
.et.icon_link:before { content: "\e02c"; }
.et.icon_loading:before { content: "\e02d"; }
.et.icon_blocked:before { content: "\e02e"; }
.et.icon_archive_alt:before { content: "\e02f"; }
.et.icon_heart_alt:before { content: "\e030"; }
.et.icon_star_alt:before { content: "\e031"; }
.et.icon_star-half_alt:before { content: "\e032"; }
.et.icon_star:before { content: "\e033"; }
.et.icon_star-half:before { content: "\e034"; }
.et.icon_tools:before { content: "\e035"; }
.et.icon_tool:before { content: "\e036"; }
.et.icon_cog:before { content: "\e037"; }
.et.icon_cogs:before { content: "\e038"; }
.et.arrow_up_alt:before { content: "\e039"; }
.et.arrow_down_alt:before { content: "\e03a"; }
.et.arrow_left_alt:before { content: "\e03b"; }
.et.arrow_right_alt:before { content: "\e03c"; }
.et.arrow_left-up_alt:before { content: "\e03d"; }
.et.arrow_right-up_alt:before { content: "\e03e"; }
.et.arrow_right-down_alt:before { content: "\e03f"; }
.et.arrow_left-down_alt:before { content: "\e040"; }
.et.arrow_condense_alt:before { content: "\e041"; }
.et.arrow_expand_alt3:before { content: "\e042"; }
.et.arrow_carrot_up_alt:before { content: "\e043"; }
.et.arrow_carrot-down_alt:before { content: "\e044"; }
.et.arrow_carrot-left_alt:before { content: "\e045"; }
.et.arrow_carrot-right_alt:before { content: "\e046"; }
.et.arrow_carrot-2up_alt:before { content: "\e047"; }
.et.arrow_carrot-2dwnn_alt:before { content: "\e048"; }
.et.arrow_carrot-2left_alt:before { content: "\e049"; }
.et.arrow_carrot-2right_alt:before { content: "\e04a"; }
.et.arrow_triangle-up_alt:before { content: "\e04b"; }
.et.arrow_triangle-down_alt:before { content: "\e04c"; }
.et.arrow_triangle-left_alt:before { content: "\e04d"; }
.et.arrow_triangle-right_alt:before { content: "\e04e"; }
.et.icon_minus_alt:before { content: "\e04f"; }
.et.icon_plus_alt:before { content: "\e050"; }
.et.icon_close_alt:before { content: "\e051"; }
.et.icon_check_alt:before { content: "\e052"; }
.et.icon_zoom-out:before { content: "\e053"; }
.et.icon_zoom-in:before { content: "\e054"; }
.et.icon_stop_alt:before { content: "\e055"; }
.et.icon_menu-square_alt:before { content: "\e056"; }
.et.icon_menu-circle_alt:before { content: "\e057"; }
.et.icon_document:before { content: "\e058"; }
.et.icon_documents:before { content: "\e059"; }
.et.icon_pencil_alt:before { content: "\e05a"; }
.et.icon_folder:before { content: "\e05b"; }
.et.icon_folder-open:before { content: "\e05c"; }
.et.icon_folder-add:before { content: "\e05d"; }
.et.icon_folder_upload:before { content: "\e05e"; }
.et.icon_folder_download:before { content: "\e05f"; }
.et.icon_info:before { content: "\e060"; }
.et.icon_error-circle:before { content: "\e061"; }
.et.icon_error-oct:before { content: "\e062"; }
.et.icon_error-triangle:before { content: "\e063"; }
.et.icon_question_alt:before { content: "\e064"; }
.et.icon_comment:before { content: "\e065"; }
.et.icon_chat:before { content: "\e066"; }
.et.icon_vol-mute:before { content: "\e067"; }
.et.icon_volume-low:before { content: "\e068"; }
.et.icon_volume-high:before { content: "\e069"; }
.et.icon_quotations_alt:before { content: "\e06a"; }
.et.icon_clock:before { content: "\e06b"; }
.et.icon_lock:before { content: "\e06c"; }
.et.icon_lock-open:before { content: "\e06d"; }
.et.icon_key:before { content: "\e06e"; }
.et.icon_cloud:before { content: "\e06f"; }
.et.icon_cloud-upload:before { content: "\e070"; }
.et.icon_cloud-download:before { content: "\e071"; }
.et.icon_lightbulb:before { content: "\e072"; }
.et.icon_gift:before { content: "\e073"; }
.et.icon_house:before { content: "\e074"; }
.et.icon_camera:before { content: "\e075"; }
.et.icon_mail:before { content: "\e076"; }
.et.icon_cone:before { content: "\e077"; }
.et.icon_ribbon:before { content: "\e078"; }
.et.icon_bag:before { content: "\e079"; }
.et.icon_cart:before { content: "\e07a"; }
.et.icon_tag:before { content: "\e07b"; }
.et.icon_tags:before { content: "\e07c"; }
.et.icon_trash:before { content: "\e07d"; }
.et.icon_cursor:before { content: "\e07e"; }
.et.icon_mic:before { content: "\e07f"; }
.et.icon_compass:before { content: "\e080"; }
.et.icon_pin:before { content: "\e081"; }
.et.icon_pushpin:before { content: "\e082"; }
.et.icon_map:before { content: "\e083"; }
.et.icon_drawer:before { content: "\e084"; }
.et.icon_toolbox:before { content: "\e085"; }
.et.icon_book:before { content: "\e086"; }
.et.icon_contacts:before { content: "\e087"; }
.et.icon_archive:before { content: "\e088"; }
.et.icon_heart:before { content: "\e089"; }
.et.icon_profile:before { content: "\e08a"; }
.et.icon_group:before { content: "\e08b"; }
.et.icon_grid-2x2:before { content: "\e08c"; }
.et.icon_grid-3x3:before { content: "\e08d"; }
.et.icon_music:before { content: "\e08e"; }
.et.icon_pause_alt:before { content: "\e08f"; }
.et.icon_phone:before { content: "\e090"; }
.et.icon_upload:before { content: "\e091"; }
.et.icon_download:before { content: "\e092"; }
.et.social_facebook:before { content: "\e093"; }
.et.social_twitter:before { content: "\e094"; }
.et.social_pinterest:before { content: "\e095"; }
.et.social_googleplus:before { content: "\e096"; }
.et.social_tumblr:before { content: "\e097"; }
.et.social_tumbleupon:before { content: "\e098"; }
.et.social_wordpress:before { content: "\e099"; }
.et.social_instagram:before { content: "\e09a"; }
.et.social_dribbble:before { content: "\e09b"; }
.et.social_vimeo:before { content: "\e09c"; }
.et.social_linkedin:before { content: "\e09d"; }
.et.social_rss:before { content: "\e09e"; }
.et.social_deviantart:before { content: "\e09f"; }
.et.social_share:before { content: "\e0a0"; }
.et.social_myspace:before { content: "\e0a1"; }
.et.social_skype:before { content: "\e0a2"; }
.et.social_youtube:before { content: "\e0a3"; }
.et.social_picassa:before { content: "\e0a4"; }
.et.social_googledrive:before { content: "\e0a5"; }
.et.social_flickr:before { content: "\e0a6"; }
.et.social_blogger:before { content: "\e0a7"; }
.et.social_spotify:before { content: "\e0a8"; }
.et.social_delicious:before { content: "\e0a9"; }
.et.social_facebook_circle:before { content: "\e0aa"; }
.et.social_twitter_circle:before { content: "\e0ab"; }
.et.social_pinterest_circle:before { content: "\e0ac"; }
.et.social_googleplus_circle:before { content: "\e0ad"; }
.et.social_tumblr_circle:before { content: "\e0ae"; }
.et.social_stumbleupon_circle:before { content: "\e0af"; }
.et.social_wordpress_circle:before { content: "\e0b0"; }
.et.social_instagram_circle:before { content: "\e0b1"; }
.et.social_dribbble_circle:before { content: "\e0b2"; }
.et.social_vimeo_circle:before { content: "\e0b3"; }
.et.social_linkedin_circle:before { content: "\e0b4"; }
.et.social_rss_circle:before { content: "\e0b5"; }
.et.social_deviantart_circle:before { content: "\e0b6"; }
.et.social_share_circle:before { content: "\e0b7"; }
.et.social_myspace_circle:before { content: "\e0b8"; }
.et.social_skype_circle:before { content: "\e0b9"; }
.et.social_youtube_circle:before { content: "\e0ba"; }
.et.social_picassa_circle:before { content: "\e0bb"; }
.et.social_googledrive_alt2:before { content: "\e0bc"; }
.et.social_flickr_circle:before { content: "\e0bd"; }
.et.social_blogger_circle:before { content: "\e0be"; }
.et.social_spotify_circle:before { content: "\e0bf"; }
.et.social_delicious_circle:before { content: "\e0c0"; }
.et.social_facebook_square:before { content: "\e0c1"; }
.et.social_twitter_square:before { content: "\e0c2"; }
.et.social_pinterest_square:before { content: "\e0c3"; }
.et.social_googleplus_square:before { content: "\e0c4"; }
.et.social_tumblr_square:before { content: "\e0c5"; }
.et.social_stumbleupon_square:before { content: "\e0c6"; }
.et.social_wordpress_square:before { content: "\e0c7"; }
.et.social_instagram_square:before { content: "\e0c8"; }
.et.social_dribbble_square:before { content: "\e0c9"; }
.et.social_vimeo_square:before { content: "\e0ca"; }
.et.social_linkedin_square:before { content: "\e0cb"; }
.et.social_rss_square:before { content: "\e0cc"; }
.et.social_deviantart_square:before { content: "\e0cd"; }
.et.social_share_square:before { content: "\e0ce"; }
.et.social_myspace_square:before { content: "\e0cf"; }
.et.social_skype_square:before { content: "\e0d0"; }
.et.social_youtube_square:before { content: "\e0d1"; }
.et.social_picassa_square:before { content: "\e0d2"; }
.et.social_googledrive_square:before { content: "\e0d3"; }
.et.social_flickr_square:before { content: "\e0d4"; }
.et.social_blogger_square:before { content: "\e0d5"; }
.et.social_spotify_square:before { content: "\e0d6"; }
.et.social_delicious_square:before { content: "\e0d7"; }
.et.icon_printer:before { content: "\e103"; }
.et.icon_calulator:before { content: "\e0ee"; }
.et.icon_building:before { content: "\e0ef"; }
.et.icon_floppy:before { content: "\e0e8"; }
.et.icon_drive:before { content: "\e0ea"; }
.et.icon_search-2:before { content: "\e101"; }
.et.icon_id:before { content: "\e107"; }
.et.icon_id-2:before { content: "\e108"; }
.et.icon_puzzle:before { content: "\e102"; }
.et.icon_like:before { content: "\e106"; }
.et.icon_dislike:before { content: "\e0eb"; }
.et.icon_mug:before { content: "\e105"; }
.et.icon_currency:before { content: "\e0ed"; }
.et.icon_wallet:before { content: "\e100"; }
.et.icon_pens:before { content: "\e104"; }
.et.icon_easel:before { content: "\e0e9"; }
.et.icon_flowchart:before { content: "\e109"; }
.et.icon_datareport:before { content: "\e0ec"; }
.et.icon_briefcase:before { content: "\e0fe"; }
.et.icon_shield:before { content: "\e0f6"; }
.et.icon_percent:before { content: "\e0fb"; }
.et.icon_globe:before { content: "\e0e2"; }
.et.icon_globe-2:before { content: "\e0e3"; }
.et.icon_target:before { content: "\e0f5"; }
.et.icon_hourglass:before { content: "\e0e1"; }
.et.icon_balance:before { content: "\e0ff"; }
.et.icon_rook:before { content: "\e0f8"; }
.et.icon_printer-alt:before { content: "\e0fa"; }
.et.icon_calculator_alt:before { content: "\e0e7"; }
.et.icon_building_alt:before { content: "\e0fd"; }
.et.icon_floppy_alt:before { content: "\e0e4"; }
.et.icon_drive_alt:before { content: "\e0e5"; }
.et.icon_search_alt:before { content: "\e0f7"; }
.et.icon_id_alt:before { content: "\e0e0"; }
.et.icon_id-2_alt:before { content: "\e0fc"; }
.et.icon_puzzle_alt:before { content: "\e0f9"; }
.et.icon_like_alt:before { content: "\e0dd"; }
.et.icon_dislike_alt:before { content: "\e0f1"; }
.et.icon_mug_alt:before { content: "\e0dc"; }
.et.icon_currency_alt:before { content: "\e0f3"; }
.et.icon_wallet_alt:before { content: "\e0d8"; }
.et.icon_pens_alt:before { content: "\e0db"; }
.et.icon_easel_alt:before { content: "\e0f0"; }
.et.icon_flowchart_alt:before { content: "\e0df"; }
.et.icon_datareport_alt:before { content: "\e0f2"; }
.et.icon_briefcase_alt:before { content: "\e0f4"; }
.et.icon_shield_alt:before { content: "\e0d9"; }
.et.icon_percent_alt:before { content: "\e0da"; }
.et.icon_globe_alt:before { content: "\e0de"; }
.et.icon_clipboard:before { content: "\e0e6"; }

