{%comment%}-- Copyright 2021 Vueocity, LLC

    Inky black dark mode dark palette

{%endcomment%}

<style>
    :root {
        --gray1: rgba(100,100,100,1);
        --light: 100,100,100;
        --shadow: 200,200,200;

        --text: rgba(180,180,180,1);
        --back: rgba(0,0,0,1);
        --overlay: linear-gradient( var(--gradient), rgba(255,255,255,0.1), rgba(255,255,255,0.05) ),
                linear-gradient( var(--gradient), rgba(0,0,0,0.8), rgba(0,0,0,0.6) );
        --variant: var(--gray1);
        --highlight: var(--gray1);;

        --highlight_text: rgba(220,220,220,1);
        --list_highlight: rgba(150,150,150,0.4);
        --heading_text: rgba(200,200,200,1);
        --overlay_title: rgba(200,200,200,1);
        --overlay_text: rgba(180,180,180,1);
        --icon_color: rgba(220,220,220,0.8);

        --card_back: rgba(255,255,255,0.2);

        --menu_text: rgba(200,200,200,1);
        --input_back: rgba(40,40,40,1);
        --popup_back: rgba(40,40,40,1);

    }
</style>
