{%comment%}-- Copyright 2021 Vueocity, LLC

    Sky blue and sunset highlights

{%endcomment%}

<style>
    :root {

        --text: rgba(80,80,100,1);
        --back: rgba(92,197,239,0.8);
        --overlay: rgba(231,85,44,1,0.8);
        --highlight: rgba(255,183,69,0.8);

        --variant: rgba(231,85,44,0.8);
        --icon_color: rgba(231,85,44,1);

        --heading_text: rgba(52,77,144,1);
        --highlight_text: rgba(255,255,255,1);
        --action_text: rgba(255,183,69,0.8);

        --overlay_title: rgba(92,197,239,1);
        --overlay_text: rgba(225,225,225,1);

        --bar_text: rgba(225,225,225,1);
        --bar_back: rgba(52,77,144,0.9);
        --tab_text: rgba(225,225,225,1);
        --tab_back: rgba(52,77,144,0.6);
        --menu_text: rgba(225,225,225,1);
        --menu_back: rgba(52,77,144,0.9);

        --list_back: rgba(245,240,255,1);
        --list_title: rgba(52,77,144,1);
        --list_text: rgba(52,77,144,0.7);

        --card_back: rgba(248,240,255,1);
        --card_title: rgba(52,77,144,1);
        --card_text: rgba(52,77,144,0.7);
        --card_hover: rgba(255,183,69,1);

    }
</style>
