{%comment%}-- Copyright 2021 Vueocity, LLC

    Light gray color example

{%endcomment%}

<style>
    :root {
        --text: rgba(64,64,68,0.8);
        --back:  rgba(230,230,234,1);
        --overlay: rgba(212,212,218,0.8);
        --highlight: rgba(112,112,118,0.2);
        --variant: rgba(58, 81, 153, 1);

        --overlay_title: white;
        --highlight_text: rgba(58, 81, 153, 1);
        --heading_text: rgba(58, 81, 153, 1);
        --icon_color: rgba(58, 81, 153, 1);
        --list_title: rgba(47, 46, 51, 1);
        --menu_text: rgba(58, 81, 153, 1);

        --card_back: rgba(255,255,255,0.8);

        --sheen: linear-gradient(var(--gradient), rgba(80,80,88,0.08), rgba(80,80,88,0) );
    }

    body {
        background-color: rgba(245,245,250,1);
        background-image: linear-gradient(var(--gradient), rgba(80,80,88,0), rgba(80,80,88,0.2) ) !important;
    }
</style>
