{%comment%}-- Copyright 2021 Vueocity, LLC

    Ocean color palette example

{%endcomment%}

<style>
    :root {

        --text: rgba(236,192,134,1);
        --back: rgba(31,36,13,1);
        --highlight: rgba(62,73,22,1);
        --overlay: linear-gradient(var(--gradient),rgba(108,44,20,0.3),rgba(108,44,20,0.4)),
            linear-gradient(var(--gradient),rgba(236,192,134,1),rgba(236,192,134,0.8));
        --variant: rgba(34,140,34,1);

        --hover_text: rgba(34,140,34,1);

    }

</style>
