{%comment%}-- Copyright 2021 Vueocity, LLC

    Bright colors palette example

{%endcomment%}

<style>
    :root {

        --back: white;
        --text: rgba(88,19,184,1);
        --variant: rgba(206,17,253,1);
        --highlight: rgba(164,249,52,1);
        --overlay: rgba(0,164,253,0.6);

        --overlay_text: rgba(207,248,0,1);
        --action_text: rgba(0,165,227,1);
        --heading_text: rgba(206,17,253,1);

        --list_hover: rgba(164,249,52,0.5);

        --menu_text: white;
        --menu_back: rgba(206,17,253,0.8);

    }
</style>
