{%comment%}-- Copyright 2021 Vueocity, LLC

    Indigo color palette example

{%endcomment%}

<style>
    :root {

        --back: rgba(208,225,249,0.4);
        --text: rgba(30,31,38,1);
        --highlight: rgba(77,100,141,1);
        --overlay: rgba(208,225,249,1);
        --variant: rgba(40,54,85,1);

        --highlight_text: white;
        --icon_color: rgba(77,100,141,0.8);

        --card_back: white;

        --bar_back: rgba(40,54,85,0.4);
        --bar_text: rgba(208,225,249,1);
        --list_title: rgba(40,54,85,1);
        --list_text: rgba(40,54,85,1);
        --list_hover: rgba(77,100,141,0.4);

        --menu_back: rgba(77,100,141,0.8);
        --menu_text: rgba(208,225,249,1);

    }
</style>
