{%comment%}-- Copyright 2021 Vueocity, LLC

    Tan/earth color palette example

{%endcomment%}

<style>
    :root {

        --text: rgba(255,255,255,0.9);
        --back: rgba(134,118,102,0.8);
        --highlight: rgba(225,184,13,1);
        --overlay: rgba(84,76,67,0.6);
        --variant: rgba(225,184,13,1);

        --action_text: rgba(88,72,5,1);
        --icon_color: rgba(225,184,13,1);

        --bar_back: rgba(53,46,40,0.8);
        --card_back: rgba(255,255,255,0.4);
        --card_title: rgb(40,100,40);
        --list_title: rgb(40,100,40);
    }
</style>
