{%comment%}-- Copyright 2021 Vueocity, LLC

    Example of material palette using teal as primary

{%endcomment%}

<style>
    :root {

        --back: rgba(72,191,145,0.3);
        --text: rgba(19,80,91,1);
        --overlay: rgba(19,80,91,.7);
        --variant: rgba(72,191,145,1);
        --highlight: rgba(255,80,89,1);

        --highlight_text: rgba(255,255,255,0.8);
        --heading_text: rgba(255,80,89,1);;
        --overlay_title: rgba(255,80,89,0.8);
        --action_text: rgba(72,191,145,1);
        --icon_color: rgba(72,191,145,1);

        --card_back: white;
        --list_hover: rgba(72,191,145,0.6);
        --current: rgba(107,192,72,0.4);

        --menu_text: black;
        --menu_back: rgba(255,255,255,.9);

    }
</style>
