{%comment%}-- Copyright 2021 Vueocity, LLC

    Inky black dark mode dark palette

{%endcomment%}

<style>
    :root {

        --text: rgba(200,200,200,1);
        --back: rgba(20,20,20,1);
        --overlay: rgba(50,50,50,.8);
        --variant: rgba(150,150,150,1);
        --highlight: rgba(150,150,150,1);

        --highlight_text: rgba(240,240,240,1);
        --list_highlight: rgba(160,160,160,0.5);
        --heading_text: rgba(230,230,230,1);
        --overlay_title: rgba(230,230,230,1);
        --overlay_text: rgba(210,210,210,1);
        --icon_color: rgba(230,230,230,1);

        --menu_text: rgba(220,220,220,1);
        --input_back: rgba(60,60,60,.8);
        --popup_back: rgba(60,60,60,.9);

        --sheen: linear-gradient(var(--gradient),rgba(120,120,120,0.08),rgba(120,120,120,0) );
        --sheen_high: linear-gradient(var(--gradient),rgba(150,150,150,0.16),rgba(150,150,150,0.08) );
    }
</style>
