{%comment%}-- Copyright 2021 Vueocity, LLC

    Bright colors palette example

{%endcomment%}

<style>
    :root {

        --back: rgba(255,102,204,0.1);
        --text: rgba(0,101,162,1);
        --highlight: rgba(141,215,191,1);
        --variant: rgba(0,176,186,1);
        --overlay: linear-gradient(var(--gradient),rgba(255,102,204,0.6),rgba(255,102,204,0.5)),
            linear-gradient(var(--gradient),rgba(0,101,162,0.5),rgba(0,101,162,0.5));

        --overlay_text: rgba(207,248,0,1);
        --action_text: rgba(0,165,227,1);
        --heading_text: rgba(255,96,171,1);
        --icon_color: rgba(255,96,171,1);

        --card_back: white;

        --menu_text: white;
        --menu_back: rgba(0,101,162,0.6);
        --popup_back: var(--overlay);
        --popup_text: white;

        --sheen: var(--sheen_low);
        --sheen_high: var(--sheen_low);

    }
</style>
