{%comment%}-- Copyright 2021 Vueocity, LLC

    Ocean color palette example

{%endcomment%}

<style>
    :root {

        --text: rgba(255,255,255,0.9);
        --back: rgba(102,165,173,1);
        --highlight: rgba(72,191,145,1);
        --overlay: rgba(102,165,173,0.8);
        --variant: rgba(102,165,173,1);

        --icon_color: rgba(7,87,91, 1);

        --heading_text: rgba(0,59,70,0.8);
        --highlight_text: rgba(0,59,70,1);
        --action_text: rgba(7,87,91,1);

        --overlay_title: rgba(0,59,70,1);
        --overlay_text: white;

        --card_title: rgba(7,87,91,1);
        --card_text: rgba(0,59,70,1);
        --card_back: white;
        --card_hover: rgba(196,223,230,1);

        --list_title: rgba(196,223,230,1);
        --list_text: rgba(7,87,91,1);
        --list_back: transparent;

        --popup_text: rgba(196,223,230,1);
        --popup_back: rgba(7,87,91,0.9);
        --tab_text: rgba(196,223,230,1);
        --tab_back: rgba(7,87,91,0.6);
        --bar_text: rgba(196,223,230,1);
        --bar_back: rgba(0,59,70,0.8);
        --menu_text: rgba(196,223,230,0.8);
        --menu_back: rgba(0,59,70,0.8);

        --input_text: rgba(0,59,70,1);
        --input_back: rgba(196,223,230,1);

        --sheen: var(--sheen_low);
        --sheen_high: var(--sheen_low);
    }

</style>
