{%comment%}-- Vueocity Platform, Copyright 2021 Vueocity, LLC

    Display text over the image

{%endcomment%}

<script>
    mp.when_ui_loaded( function() {

        mp.style_add_css( '.es_theme_card', 'es_theme_background', 'background' )

        })
</script>
<style>

    .es_theme_card {
        --es_item_text_rows: 3;
        }
    .es_theme_card .es_content_image {
        height: 100%;
        }
    .es_theme_card .es_content_body {
        position: relative;
        }
    .es_card.es_theme_card .es_content_text {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: transparent;
        }
    .es_theme_card .es_item_text_image :is(
        .es_item_title, .es_item_text1, .es_item_text2, .es_item_text3, .es_item_text4
        ) {
        text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
        {% if not default_color %}
            color: white;
        {% endif %}
        }
    .es_theme_card .es_content_text :is(
        .es_item_text1, .es_item_text2, .es_item_text3, .es_item_text4
        ) {
        font-size: {{ text_size|default:'130%' }};
        }
    .es_theme_card .es_content_text .es_item_title {
        font-size: {{ title_size|default:'200%' }};
        }

</style>
